*{
    box-sizing:border-box;
}
body{
    display:flex;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
section{
    display:flex;
    flex-wrap:wrap;
    }
p{
    flex:1;
    width: auto;
    height:auto;
    /*font-family: 'SpongeBob Font Condensed', sans-serif;
    font-size: 12pt;
    color: #ffffff;
    background-color: #af8a61;
    border: #fff229;
    border-style:dashed;
    border-width: 5px;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    padding: 1%;*/
} 
img{
    width: 213px;
    height: 235px;
}  
h1{
    text-align: center;
    text-decoration:underline;
    font-family: 'spongebob font condensed';
    background-color: #fff1298a;
    color: black;
}
h2{
    text-align: center;
    text-decoration:underline;
    font-family: 'spongebob font condensed';
    color: #fdf12c; 
    margin-top: -2%;
}
